<html>
<head>
  <title><%= title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Indie+Flower&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap" rel="stylesheet">  
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Indie+Flower&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/index.css">
</head>
<body class="index-body">
  <div class="index-top">
    <div class="index-top-title">Mini Messageboard</div>
    <div class="link-to-new">
      <a href="/new">
        <span>Leave a Message&nbsp➭</span>
      </a>
    </div>
  </div>
  <div class="index-mid">
    <% messages.forEach(user => { %>
      <a href="/message/<%= user.id %>" class="message" style="--rotation: <%= user.rotation %>; --color: <%= user.color %>;">
        <div class="from-date">
          <p><span>From: </span>
            <% if (user.user.length > 7) { %>
              <%= user.user.substring(0, 5) + '...' %>
            <% } else { %>
              <%= user.user %>
            <% } %>
          </p>
          <p><%=user.formattedDate%></p>
        </div>
        <p> 
          <% if (user.text.length > 140) { %>
            <%= user.text.substring(0, 140) + '...' %>
          <% } else { %>
            <%= user.text %>
          <% } %>
        </p>
      </a>
    <% }); %>
  </div>
  <div class="index-bot">
    <%- include('templates/footer') %>
  </div>
</body>
</html>