<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Indie+Flower&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap" rel="stylesheet">  
    <link rel="stylesheet" href="/message.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= reqMessage.user %>'s Message</title>
  </head>
  <body class="message-body">
    <div class="back-arrow">
      <a href="/">☜ Back</a>
    </div>
    <div class="message-note" style="--color: <%= reqMessage.color %>; --rotation: <%= reqMessage.rotation %>">
      <h1><%= reqMessage.user %>'s Message:</h1>
      <h2><%= reqMessage.formattedDate %></h2>
      <h2><%= reqMessage.text %></h2>
    </div>
  </body>
</html>